table.table
{
	border:           0px   ;
    width:            70%   ;
    height:           50%   ;
    margin-right:     auto  ;
    background-image: url("http://i.stack.imgur.com/jGlzr.png");
    padding:          75px  ;
    float:            right ;
}
table.score
{
    padding:          1px   ; 
    width:            15%   ;
    height:           5%    ;
    margin-left:      auto  ;
    font-size:        small ;
    float:            left  ;
    margin-top:       auto  ;
    font-size:        large ;
}
table.score th, table.score td
{
    padding:          5px                                      ;
    border-color:     lightgreen darkgreen darkgreen lightgreen;
    background-color: lightgreen                               ;
}
table.table tr
{
    height: 100px ;
}
body
{
    background-color: green ;
}
#titleScreen
{
    color:            blue     ;
    background-color: black    ;
    width:            80%      ;
    text-align:       center   ;
    margin:           auto     ;
    position:         relative ;
    top:              50%      ;
    font-size:        large    ;
}
#titleScreen:hover
{
    color:       red          ;
    text-shadow: 2px 2px grey ;
    font-weight: bold         ;
}
img.cardFrontTemplate, img.cardBack
{
    height:  120px ;
    width:   80px  ;
    z-index: -1    ;
}
img.suitTop, img.suitBottom, span.symbol
{
    position: relative ;
    height:   15px     ;
    width:    15px     ;
    z-index:  1        ;
}
img.suitTop
{
    right:  17px  ;
    bottom: 125px ;
}
img.suitBottom
{
    left: 15px   ;
    bottom: 47px ;
}
#game
{
    display:none ;
}
#bet
{
    height: 28px ;
}
span.symbol
{
    bottom:      71px   ;
    display:     block  ;
    margin:      0 auto ;
    display:     block  ;
}
body
{
    font-family: Courier ;
    text-align:  center  ;
}
